# Mac default file structure
.DS_STORE
# Ignore visuals studio code
.vscode
# Dist directory
dist
# Ignore database file
data/mongodb/*
data/videos/*
# Dependency directories
node_modules
# Resources directory
resources
# Ignore package-lock file
package-lock
# Log file
*.Log
# Build directory
build