.trip-container {
    width: 100%;
    height: 30px;
    margin-top: 2px;
    padding: 2px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: #d9d9d9;
}
.trip-container.active {
    color: #000;
    background: #deebf7;
    border: 1px solid #000000;
    border-radius: 2px;
}
.trip-container:hover {
    border: 1px solid #000000;
}

/* trip keyword container */
.trip-keywords-container {
    width: 100%;
    height: 30px;
    margin-top: 2px;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: #000;
}

.trip-keywords-container:hover {
    border: 1px solid #000;
}

.trip-button {
    width: 30px;
    height: 22px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none !important;
    background: #ffffff;
    margin-right: 4px;
}
.trip-button:hover {
    border: 1px dashed #000;
}

.info-trip-btn {
    color: #9ecae1;
    float: right;
}
.video-trip-btn {
    color: #addd8e;
    float: right;
}
.point-trip-btn {
    color: #fed976;
    float: right;
}
.remove-trip-btn {
    color: #fc9272;
    float: right;
}

.video-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #ffff;
    margin-top: 2px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 2px;
}


.trip-video-container {
    width: 150px;
    height: 90px;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
}

.trip-video-player {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.trip-detail-container {
    width: 100%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    margin-top: 2px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 2px;
}

#video-slider {
    width: calc(100% - 70px);
    height: 100%;
    float: left;
    background: #3288bd;
}

#video-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 23px;
    background: #084081;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #f0f0f0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #f4a582;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #f4a582;
    cursor: pointer;
  }

  #video-right {
    width: 60%;
    height: calc(100% - 25px);
    float: left;
    border-bottom: 1px solid #eeeeee;
    background-color: #f0f0f0;
  }

  #wordcloud-right {
    width: 40%;
    height: calc(100% - 25px);
    float: left;
    border: 1px solid #eeeeee;
    border-radius: 4px;
  }

  #slider-right {
      width: 100%;
      height: 25px;
  }

  #video-play-button {
    width: 70px;
    height: 25px;
    float: left;
    padding: 1px;
    color: #74c476;
    background: #f0f0f0;
    font-size: 12px;
    outline: none !important;
  }